@media screen and (max-width: 1100px){
    .coll4{
        display: flex;
        width: 300px !important;
        margin: -10px !important;
    }
    .cont{
        display: flex;
    }
    .row1{
        margin-top: -500px;
    }
    .tit2{
        width: 100%;
        transform: translatey(-100px);
    }
}